<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'London')">London</button>
    <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
</div>
<div id="public_inforfation" class="tabcontent">
    <h3>public information</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form autocomplete="off" action="#" th:action="@{/updateProject}"
                      th:object="${project}"  class="form-horizontal" method="post"
                      >
                    <h2>Registration Form</h2>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <label th:if="${#fields.hasErrors('projectName')}" th:errors="*{projectName}"
                                   class="validation-message"></label>
                            <input type="text" th:field="*{projectName}" placeholder="Project Name"
                                   class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <label	th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}"
                                      class="validation-message"></label>
                            <input type="text" th:field="*{companyName}"
                                   placeholder="Company name" class="form-control" />
                        </div>
                    </div>




                    <!--<ul th:each="task, stat : ${taskList}">-->
                    <!--<div class="form-group">-->
                        <!--<div class="col-sm-9">-->

                            <!--<input type="text" th:field="*{taskList[__${{stat.index}__].taskName}" th:text="${task.taskName}"-->
                                   <!--th:name="|taskList[${stat.index}].name|"-->
                                   <!--readonly="readonly"-->
                                   <!--class="form-control" />-->
                            <!--<input type="checkbox" th:field="*{taskList[__${{stat.index}__].isTaskDone}" th:value="${task.isTaskDone}"-->
                                   <!--th:name="|taskList[${stat.index}].name|"-->
                                   <!--th:checked="${task.selected}"-->

                                   <!--class="form-control" />-->

                        <!--</div>-->
                    <!--</div>-->
                    <!--</ul>-->


                    <div th:each="task, stat : *{taskList}">
                        <p th:text="${task}"></p>

                            <input type="checkbox"  th:field="*{taskList[__${stat.index}__].isTaskDone}"
                            />
                            <input type="text" th:field="*{taskList[__${stat.index}__].taskName}"  />



                    </div>





                    <div class="form-group">
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary btn-block">Register User</button>
                        </div>
                    </div>




                </form>
            </div>
        </div>
    </div>

</div>

<div id="personal_information" class="tabcontent">
    <h3>Paris</h3>
    <p>Paris is the capital of France.</p>
</div>
<script>
    $(document).ready(function() {

        var index = 0;
        console.log("ready")
        $("#add").click(function(){
            $(
                '<div class="form-group">'+
                '<div class="col-sm-9">'+

                '<input  class="form-control quantity" placeholder="Task Name" name="taskNames['+index+']"'+
                'id="taskList-' + index+'"'+
                'th:field="*{taskNames[__'+index+'__]}"/>'+
                '</div> </div>'
            )
                .appendTo('#task');
            index = index +1;
        })

    })

</script>



</body>
</html>