<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<H1 th:text="${employee.employeeId}" ></H1>
<h2 th:text="${employee.name}"></h2>
<h3 th:text="${employee.workingAddress}"></h3>
<img th:src="@{/image/{path}(path=${employee.employeeId})}" alt="Trolltunga Norway" width="300" height="200">

<form autocomplete="off" action="#" th:action="@{/updateEmployee}"
      th:object="${employee}" method="post" class="form-horizontal" enctype="multipart/form-data"
      role="form">
    <h2>Registration Form</h2>

    <div class="form-group">
        <label class="col-sm-9"for="photo" th:errors="*{photo}">Change Image</label>
        <div class="col-md-4">
            <input id="photo" name="photo" class="input-file" type="file">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9">
            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                   class="validation-message" th:text="${employee.name}"></label>
            <input type="text" th:field="*{name}" placeholder="Name"
                   class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-9">
            <label	th:if="${#fields.hasErrors('workingAddress')}" th:errors="*{workingAddress}"
                      class="validation-message" th:text="${employee.workingAddress}"></label>
            <input type="text" th:field="*{workingAddress}"
                   placeholder="working address" class="form-control" />
        </div>
    </div>

    <input type="hidden" th:field="*{photo}" th:attr="value = ${employee.photo}">


    <div class="form-group">
        <div class="col-sm-9">
            <button type="submit" class="btn btn-primary btn-block">Update User</button>
        </div>
    </div>




</form>

</body>
</html>